<p>
  <b>Autor:</b>
  <%= comment.autor %>
</p>
 
<p>
  <b>Comentario:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Apagar', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
