<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label "Autor" %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label "Comentario" %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit " Adicionar " %>
  </div>
<% end %>
