<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label "Titulo" %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label "Conteudo" %><br />
    <%= f.text_area :conteudo %>
  </div>
  <div class="actions">
    <%= f.submit :value => " Salvar "  %>
  </div>
<% end %>
