<h1>Postagens</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Titulo</th>
    <th>Conteudo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.nome %></td>
    <td><%= post.titulo %></td>
    <td><%= post.conteudo %></td>
    <td><%= link_to 'Visualizar', post %></td>
    <td><%= link_to 'Alterar', edit_post_path(post) %></td>
    <td><%= link_to 'Excluir', post, :confirm => 'Voce tem certeza?',
                                     :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_post_path %>
