<p id="notice">
  <%= notice %>
</p>

<p>
  <b>Nome:</b>
  <%= @post.nome %>
</p>

<p>
  <b>Titulo:</b>
  <%= @post.titulo %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @post.conteudo %>
</p>

<h2>Comentarios</h2>
<%= render @post.comments %>

<h2> Comentar:</h2>
<%= render "comments/form" %>

<br />

<%= link_to 'Alterar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
